WFSpider/Service References/CrmWebService/ApiWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertCompanyCms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="itemList" type="tns:ArrayOfCompanyCmsData" />
            <s:element minOccurs="0" maxOccurs="1" name="md5Key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCompanyCmsData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CompanyCmsData" nillable="true" type="tns:CompanyCmsData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CompanyCmsData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CmsId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyDesp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RegisterAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RealAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyIdNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GuoneiWebName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GuojiWebName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LegalPerson" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactPerson" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactPhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BossBackground" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TTSAdminAccount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SalesName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TTSStatusDesp" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertCompanyCmsResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertAgentGradeOprations">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="itemList" type="tns:ArrayOfAgentGradeOperation" />
            <s:element minOccurs="0" maxOccurs="1" name="md5Key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAgentGradeOperation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AgentGradeOperation" nillable="true" type="tns:AgentGradeOperation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AgentGradeOperation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="agentDomain" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="agentName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="promotion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="agentManager" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="totalTicketNum" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="totalTicket" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="passRate" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="less60minRate" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="orderAlterRate" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="voluntaryRate" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="involuntaryRate" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="complainRate" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="qapassRate" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="phoneAnswerRate" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="messageTimeoutRate" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="qualification" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="whiteList" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="totalScore" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="status" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="statDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="statMonth" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="grade" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CurDateTicketCount" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateTime" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertAgentGradeOprationsResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertCompanyCmsSoapIn">
    <wsdl:part name="parameters" element="tns:InsertCompanyCms" />
  </wsdl:message>
  <wsdl:message name="InsertCompanyCmsSoapOut">
    <wsdl:part name="parameters" element="tns:InsertCompanyCmsResponse" />
  </wsdl:message>
  <wsdl:message name="InsertAgentGradeOprationsSoapIn">
    <wsdl:part name="parameters" element="tns:InsertAgentGradeOprations" />
  </wsdl:message>
  <wsdl:message name="InsertAgentGradeOprationsSoapOut">
    <wsdl:part name="parameters" element="tns:InsertAgentGradeOprationsResponse" />
  </wsdl:message>
  <wsdl:portType name="ApiWebServiceSoap">
    <wsdl:operation name="InsertCompanyCms">
      <wsdl:input message="tns:InsertCompanyCmsSoapIn" />
      <wsdl:output message="tns:InsertCompanyCmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertAgentGradeOprations">
      <wsdl:input message="tns:InsertAgentGradeOprationsSoapIn" />
      <wsdl:output message="tns:InsertAgentGradeOprationsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ApiWebServiceHttpGet" />
  <wsdl:portType name="ApiWebServiceHttpPost" />
  <wsdl:binding name="ApiWebServiceSoap" type="tns:ApiWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertCompanyCms">
      <soap:operation soapAction="http://tempuri.org/InsertCompanyCms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAgentGradeOprations">
      <soap:operation soapAction="http://tempuri.org/InsertAgentGradeOprations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ApiWebServiceSoap12" type="tns:ApiWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertCompanyCms">
      <soap12:operation soapAction="http://tempuri.org/InsertCompanyCms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAgentGradeOprations">
      <soap12:operation soapAction="http://tempuri.org/InsertAgentGradeOprations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ApiWebServiceHttpGet" type="tns:ApiWebServiceHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="ApiWebServiceHttpPost" type="tns:ApiWebServiceHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="ApiWebService">
    <wsdl:port name="ApiWebServiceSoap" binding="tns:ApiWebServiceSoap">
      <soap:address location="http://ota.crm.qunar.com/ApiWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ApiWebServiceSoap12" binding="tns:ApiWebServiceSoap12">
      <soap12:address location="http://ota.crm.qunar.com/ApiWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ApiWebServiceHttpGet" binding="tns:ApiWebServiceHttpGet">
      <http:address location="http://ota.crm.qunar.com/ApiWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ApiWebServiceHttpPost" binding="tns:ApiWebServiceHttpPost">
      <http:address location="http://ota.crm.qunar.com/ApiWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>